h1{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(21, 126, 192);
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
}

nav a{
  font-size: 33px;
  color: rgb(135, 20, 143);
  text-decoration: none;
}
